<?php

return [
    'error_logger' => [
        'writers' => [
            'auditlog' => [
                'options' => [
                    'filters' => [
                        'suppress' => [
                            'options' => [
                                'suppress' => true,
                            ],
                        ],
                    ],
                ],
            ],
            'dailystream' => [
                'options' => [
                    'filters' => [
                        'suppress' => [
                            'options' => [
                                'suppress' => false,
                            ],
                        ],
                    ],
                ],
            ],
            'errormail' => [
                'options' => [
                    'filters' => [
                        'suppress' => [
                            'options' => [
                                'suppress' => true,
                            ],
                        ],
                    ],
                ],
            ],
        ],
    ],
];
