<?php

return [
    'error_logger' => [
        'writers' => [
            'errormail' => [
                'name' => 'errorMail',
                'options' => [
                    'subject_prepend_text' => sprintf('Error report for My Application'),
                    'recipient' => 'support@polderknowledge.nl',
                    'filters' => [
                        'suppress' => [
                            'name' => 'suppressfilter',
                            'options' => [
                                'suppress' => true,
                            ],
                        ],
                        'priority' => [
                            'name' => 'priority',
                            'options' => [
                                'priority' => \Zend\Log\Logger::WARN,
                                'operator' => '<=',
                            ],
                        ],
                        'interval' => [
                            'name' => Filter\Interval::class,
                            'options' => [
                                'lockFile' => getcwd() . '/data/tmp/errormail.lock',
                                'interval' => 60 * 10, // Only mail once in 10 minutes
                            ],
                        ],
                    ],
                ],
            ],
        ],
    ],
];
